.center {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}
h2{
  color: white;
}

.sidebar {
  float: left;
  width: 350px;
  min-height: 100vh;
  padding: 5px;
  background-color: #292929;
  box-sizing: border-box;

}

body {
  background-color: #292929;
}

.button-small {
  font-size: 65%;
}